crs577add-demos/src/main/resources/OfficeVisitService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    targetNamespace="http://www.ltree.com/types"
    name="OfficeVisitService"
    xmlns:tns="http://www.ltree.com/types" 
    xmlns:impl="http://www.ltree.com/types" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" >

    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.ltree.com/types" 
            xmlns:tns="http://www.ltree.com/types" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            elementFormDefault="qualified">

	       	<xsd:include 
                schemaLocation="http://localhost:8080/schemas/PatientRecord.xsd" />
     
            <xsd:element name="updatePatientRecord">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="patient" type="tns:PatientInfo"/>
                        <xsd:element name="visit"   type="tns:VisitDetails"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

           <xsd:element name="updatePatientRecordResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="responseElement" 
                                     type="tns:PatientRecord"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="updatePatientRecordRequest">
        <wsdl:part name="updatePatientRecord" element="tns:updatePatientRecord"/>
    </wsdl:message>

    <wsdl:message name="updatePatientRecordResponse">
        <wsdl:part name="updatePatientRecordResponse" element="tns:updatePatientRecordResponse"/>
    </wsdl:message>

    <wsdl:portType name="OfficeVisit">
        <wsdl:operation name="updatePatientRecord">

            <wsdl:input  name="updatePatientRecordRequest" 
                         message="impl:updatePatientRecordRequest"/>

            <wsdl:output name="updatePatientRecordResponse" 
                         message="impl:updatePatientRecordResponse"/>

        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OfficeVisitBinding" 
                  type="impl:OfficeVisit">

        <wsdlsoap:binding style="document" 
            transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="updatePatientRecord">
            <wsdlsoap:operation soapAction="" style="document"/>

            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>

            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>

        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OfficeVisitServicePorts">
        <wsdl:port name="OfficeVisitService" binding="impl:OfficeVisitBinding">
            <wsdlsoap:address 
               location="http://localhost:8080/updatePatientRecord/services/OfficeVisitService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
